

.left{
    float: left;
    width: 35%;
    text-align: center;
    padding: 30px;
}


.right{
    float: right;
    width: 65%;   
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    
}



.checkFloat{
    /*background image or color*/
   padding: 5%;
    
}