*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a, a:hover{
	text-decoration: none;
}
.avoid-overflow{
	margin-top: 140px;
}

@media screen and (max-width: 765px) {
  .avoid-overflow {margin-top: 130px;}

}
.navbar-nav > li > a {
	padding-top:5px !important; padding-bottom:5px !important;
}
.navbar {
	min-height:32px !important
}



.headernav{
	position: sticky!important;
	top: 0;
}
.heading{
	font-size: 50px;
	color:white;
	margin-top:8px;
	margin-bottom: 8px;
	text-align:center;


.form-elegant .font-small {
    font-size: 0.9rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 350; }
	}
	

/*Contact Us Start*/

.topbannerheading{
		font-weight: 400;
		font-family: Helvetica-exlight;
		font-size: 40px;
}	

.linear-bottom{
	text-align: center;
	margin-top: -11px;
}

.title-underline{
	display: inline-block;
	width: 119px;
	height: 3px;
	margin: 7px auto;
	background-color: #1588cb;
}

.footercno{
	letter-spacing: 0px;
	font-size: 14px;
	transition: all 1s ease-in-out;
	margin-bottom: 10px;
}
.footercno:hover{
      transform: translateX(10px);
      transition: all 1s ease-in-out;
      color:#fff;
      
}

.fa-icon {
  color: #333; 
  transition: all 1s ease-in-out;
}
.fa-icon:hover{
	transform: translateY(-10px);

    transition: all 1s ease-in-out;
    color:#333; 
}

.form-btn{
	background: #0076d8!important;
	display: inline-block;
    margin: 20px 0 30px 0;
    padding: 10px 35px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none!important;
    color: #fff!important;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.15), 0 2px 2px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
    border: none;
}
.form-btn:hover
{
      background-color: #083655 !important;
      color: #fff !important
}

/*Location Starts*/

.location-div iframe{
	width: 800px;
	height: 400px;
	border: none;
	border: 1px solid #f1f1f1;

}

@media screen and (max-width: 765px) 
{
  .location-div iframe {
  	width: 100%;
 }
/*Location Ends*/

/*Contact us end*/



/*Scroll Starts*/
/* width */
::-webkit-scrollbar {
width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #c4c2c2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #182955; 
}
/*Scroll Ends*/
