<<<<<<< HEAD
/* Inner */

	.inner {
		margin: 0 auto;
		width: _size(inner-width);
		max-width: calc(100% - 6rem);

		@include breakpoint('<=xsmall') {
			max-width: calc(100% - 3rem);
		}
=======
/* Inner */

	.inner {
		margin: 0 auto;
		width: _size(inner-width);
		max-width: calc(100% - 6rem);

		@include breakpoint('<=xsmall') {
			max-width: calc(100% - 3rem);
		}
>>>>>>> 39a426cdaa7dff180f23f1c51831bb99933f2e91
	}